
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

header {
  padding: 10px 0;
}

.header-container {
  display: flex;
  align-items: center; /* Alinea verticalment els elements al centre */
  justify-content: flex-start; /* Col·loca els elements a l'esquerra */
  gap: 20px; /* Espai entre els elements */
  padding: 0 20px; /* Afegir espai a la dreta i l'esquerra */
}

.header-container h1 
{
  margin: 0;
  font-size: 2.5rem;
  color: white;
  text-align: center;
}

/* Estils del menú */
.search-container {
  position: relative;
  margin: 20px auto;
  padding: 30px;
  background-color: #333;
  border-radius: 10px;
  justify-content: center;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5);
}

.search-input {
  padding: 10px 40px 10px 40px; /* Afegim més espai a l'esquerra per la icona */
  font-size: 1.1rem;
  border-radius: 25px;
  border: 2px solid #ddd;
  background-color: #f7f7f7;
  color: #333;
  width: 100%;
  max-width: 400px;
  box-sizing: border-box;
}

.search-input:focus {
  outline: none;
  border-color: none;
  background-color: #fff;
}


.results-grid 
{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin-top: 20px;
}

.menu ul 
{
  display: grid;
  grid-template-columns: repeat(6, 1fr); /* Inicialment, 6 elements en una fila */
  gap: 15px; /* Espai entre els elements del menú */
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.menu ul li 
{
  background-color: #444;
  padding: 15px;
  border-radius: 8px;
  text-align: center;
}

.menu ul li a 
{
  color: #ffcc00;
  text-decoration: none;
  display: block;
  font-size: 1.2rem;
  transition: background-color 0.3s ease;
}

.menu ul li a:hover 
{
  background-color: #555;
}

.result-card 
{
  background-color: #333;
  color: #fff;
  padding: 15px;
  border-radius: 8px;
  text-align: center;
  text-decoration: none;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.result-card:hover 
{
  transform: scale(1.05);
  background-color: #444;
}
.menu-toggle 
{
  background-color: #ffcc00;
  color: #333;
  font-size: 1.5rem;
  padding: 12px 20px;
  border-radius: 30px;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: bold;
  transition: all 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  margin-top: 20px;  /* Afegir espai a sobre del botó */
  margin-bottom: 20px;  /* Afegir espai a sota del botó */
}

.menu-toggle:hover 
{
  background-color: #ffb700;
  transform: scale(1.05);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4);
}

.menu-toggle:focus 
{
  outline: none;
  box-shadow: 0 0 8px #ffcc00;
}

.menu-toggle:active 
{
  transform: scale(0.98);
}

.menu-toggle span 
{
  margin-left: 8px;
  transition: transform 0.3s ease;
}

.menu-toggle.open span 
{
  transform: rotate(180deg);
}

.result-card 
{
  background-color: #444;
  color: #fff;
  padding: 15px;
  border-radius: 8px;
  text-align: center;
  text-decoration: none;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.result-card:hover 
{
  transform: scale(1.05);
  background-color: #555;
}

.home-container 
{
  text-align: center;
  color: #ffcc00;
  margin-top: 40px;
}

.button-container 
{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px; /* Espai entre els botons */
  margin-top: 30px;
}

.category-button 
{
  background-color: #333;
  color: white;
  padding: 20px 40px; /* Augmentem el padding per fer els botons més grans */
  font-size: 1.5rem; /* Augmentem la mida de la font */
  text-align: center;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  width: 250px; /* Assignem una amplada fixa per a tots els botons */
  min-width: 250px; /* Assegurem-nos que tots els botons tinguin la mateixa amplada */
}

.category-button:hover 
{
  background-color: #444;
  transform: translateY(-5px);
}

.category-button:active 
{
  transform: scale(0.98);
}

.button-link 
{
  text-decoration: none;
}


/* Ajustem el menú de navegació */
nav ul 
{
  display: flex;
  justify-content: center;
  gap: 30px; /* Més espai entre els elements */
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav ul li a 
{
  padding: 15px 20px;
  border-radius: 5px;
  color: #ffcc00;
  text-decoration: none;
  background-color: #444;
  transition: 0.3s;
}

nav ul li a:hover 
{
  background-color: #555;
  transform: translateY(-3px); /* Petita animació al passar-hi */
}

body 
{
  font-family: 'Oswald';
  background-color: #1e1e1e;
  color: #f1f1f1;
  margin: 30px 50px;
}

.container 
{
  width: 80%;
  margin: 0 auto;
  padding: 20px;
}

.home-icon 
{
  width: 60px;
  height: 60px;
  object-fit: cover;
  margin-right: 20px;
  cursor: pointer;
  border: 3px solid transparent; /* Borde inicial transparent */
  border-radius: 50%; /* Rodonim la imatge */
  transition: border-color 0.3s ease, transform 0.3s ease; /* Animació suau */
}
.search-icon 
{
  width: 60px;
  height: 60px;
  object-fit: cover;
  margin-right: 20px;
}

/* Canvi de color del borde en passar-hi el ratolí */
.home-icon:hover 
{
  border-color: #ffcc00; /* Color del borde quan el ratolí passa per sobre */
  transform: scale(1.1); /* L'efecte fa que la imatge creixi lleugerament */
}

.display-elements {
  display: flex;
  flex-wrap: wrap; /* Permet que els elements passin a la següent línia */
  gap: 10px; /* Espai entre els elements */
  justify-content: center; /* Centra els elements horitzontalment */
  align-items: center; /* Centra els elements verticalment (si és necessari) */
  width: 100%; /* Assegura que el contenidor ocupi tot l'amplada disponible */
}

.films-container {
  display: flex;
  flex-wrap: wrap; /* Això permet que les pel·lícules es moguin a la següent línia quan no hi hagi espai */
  gap: 20px; /* Espai entre les pel·lícules */
  justify-content: center; /* Centra les pel·lícules horitzontalment */
}

.film-card {
  background-color: #333;
  color: white;
  padding: 5px;
  border-radius: 8px;
  text-align: center;
  /*width: 200px; /* Amplada fixa per a les targetes de pel·lícules */
  box-sizing: border-box;
  transition: transform 0.3s ease, background-color 0.3s ease;
  margin-bottom: 20px;
  cursor: pointer;
}

.film-card:hover {
  transform: scale(1.05);
  background-color: #444;
}


h2 
{
  text-align: center;
  color: #ffcc00;
  font-size: 2.5rem;
  text-transform: uppercase;
  margin-bottom: 20px;
}

ul 
{
  list-style-type: none;
  padding-left: 0;
}

li 
{
  background-color: #2b2b2b;
  margin-bottom: 15px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.6);
}

li h3 
{
  font-size: 1.8rem;
  color: #ffcc00;
  margin-bottom: 10px;
}


li p 
{
  color: #ccc;
  margin: 5px 0;
}

a 
{
  color: #ffcc00;
  text-decoration: none;
  font-weight: bold;
}

a:hover 
{
  text-decoration: underline;
}

p 
{
  text-align: center;
  font-size: 1.2rem;
  color: #f1f1f1;
}

footer 
{
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #333;
  color: #f1f1f1;
  text-align: center;
  padding: 20px 0;
  font-size: 1rem;
  z-index: 10;
}

.button-container 
{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  justify-items: center;
  margin: 20px 0;
}

.button-container a 
{
  background-color: #333;
  color: white;
  padding: 15px 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  font-size: 1.2rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s, transform 0.3s;
}

.button-container a:hover 
{
  background-color: #444;
  transform: translateY(-5px);
}

.favorites-container 
{
margin-top: 20px;
padding: 20px;
background-color: #2b2b2b;
border-radius: 10px;
box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.6);
}

.favorites-container h2 
{
text-align: center;
color: #ffcc00;
font-size: 2.5rem;
margin-bottom: 20px;
text-transform: uppercase;
}

.favorites-container ul 
{
list-style-type: none;
padding: 0;
margin: 0;
}

.favorites-container li 
{
background-color: #333;
margin-bottom: 15px;
padding: 20px;
border-radius: 8px;
box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5);
display: flex;
flex-direction: column;
align-items: center;
}

.favorites-container li h3 
{
font-size: 1.8rem;
color: #ffcc00;
margin-bottom: 10px;
text-align: center;
}

.favorites-container li p 
{
color: #ccc;
margin: 5px 0;
text-align: center;
}

.favorites-container p 
{
text-align: center;
font-size: 1.2rem;
color: #f1f1f1;
font-weight: bold;
margin-top: 30px;
}

/* Responsive */
@media (max-width: 768px) 
{
  body 
  {
    margin: 20px;
  }

  .header-container h1 
  {
    font-size: 2rem;
  }

  .search-input.styled-search 
  {
    font-size: 1rem;
  }

  .menu ul li a 
  {
    font-size: 1rem;
  }

  .menu ul 
  {
    grid-template-columns: repeat(3, 1fr); /* 3 elements per fila per pantalles mitjanes */
  }

  .container 
  {
    width: 90%;
  }

  h2 
  {
    font-size: 2rem;
  }

  li 
  {
    padding: 15px;
  }

  li h3 
  {
    font-size: 1.5rem;
  }

  p 
  {
    font-size: 1rem;
  }

  footer 
  {
      padding: 15px 0;
      font-size: 0.9rem;
  }

  .button-container 
  {
      grid-template-columns: repeat(2, 1fr);  /* 2 columnes */
  }

  nav ul 
  {
      grid-template-columns: repeat(2, 1fr);  /* 2 columnes en mòbils */
  }

  .favorites-container 
  {
    padding: 15px;
  }

  .favorites-container h2 
  {
    font-size: 2rem;
  }

  .favorites-container li 
  {
    padding: 15px;
  }

  .favorites-container li h3 
  {
    font-size: 1.5rem;
  }

  .favorites-container button 
  {
    font-size: 1rem;
    padding: 8px 16px;
  }

  .favorites-container p 
  {
    font-size: 1rem;
  }
  
}

@media (max-width: 1024px) 
{
  .menu ul 
  {
    grid-template-columns: repeat(3, 1fr); /* 3 elements per fila per pantalles mitjanes */
  }
}

@media (max-width: 500px) 
{
  .menu ul 
  {
    grid-template-columns: 1fr; 
  }
  .button-container 
  {
    grid-template-columns: 1fr;  
  }
}