/* Estils generals */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  header 
  {
    background-color: #333;
    padding: 20px;
    color: white;
    text-align: center;
  }
  
  nav ul 
  {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  nav ul li 
  {
    display: flex;
    justify-content: center;
  }
  
  nav ul li a 
  {
    background-color: #444;
    color: #ffcc00;
    padding: 15px 30px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1.2rem;
    text-align: center;
    transition: background-color 0.3s, transform 0.3s;
    width: 100%;
    display: block;
  }
  
  nav ul li a:hover 
  {
    background-color: #555;
    transform: translateY(-5px);
  }

  body 
  {
    font-family: 'Roboto', sans-serif;
    background-color: #1e1e1e;
    color: #f1f1f1;
    line-height: 1.6;
    font-size: 16px;
  }
  
  .container 
  {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
  }
  
  h2 
  {
    text-align: center;
    color: #ffcc00;
    font-size: 2.5rem;
    text-transform: uppercase;
    margin-bottom: 20px;
  }

  ul 
  {
    list-style-type: none;
    padding-left: 0;
  }
  
  li 
  {
    background-color: #2b2b2b;
    margin-bottom: 15px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.6);
  }
  
  li h3 
  {
    font-size: 1.8rem;
    color: #ffcc00;
    margin-bottom: 10px;
  }
  

  li p 
  {
    color: #ccc;
    margin: 5px 0;
  }
  
  a 
  {
    color: #ffcc00;
    text-decoration: none;
    font-weight: bold;
  }
  
  a:hover 
  {
    text-decoration: underline;
  }
  
  p 
  {
    text-align: center;
    font-size: 1.2rem;
    color: #f1f1f1;
  }

  footer 
  {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    color: #f1f1f1;
    text-align: center;
    padding: 20px 0;
    font-size: 1rem;
    z-index: 10;
  }

  .button-container 
  {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    justify-items: center;
    margin: 20px 0;
  }
  
  .button-container a 
  {
    background-color: #333;
    color: white;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1.2rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s, transform 0.3s;
  }
  
  .button-container a:hover 
  {
    background-color: #444;
    transform: translateY(-5px);
  }

  .favorites-container {
  margin-top: 20px;
  padding: 20px;
  background-color: #2b2b2b;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.6);
}

.favorites-container h2 {
  text-align: center;
  color: #ffcc00;
  font-size: 2.5rem;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.favorites-container ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.favorites-container li {
  background-color: #333;
  margin-bottom: 15px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.favorites-container li h3 {
  font-size: 1.8rem;
  color: #ffcc00;
  margin-bottom: 10px;
  text-align: center;
}

.favorites-container li p {
  color: #ccc;
  margin: 5px 0;
  text-align: center;
}

.favorites-container p {
  text-align: center;
  font-size: 1.2rem;
  color: #f1f1f1;
  font-weight: bold;
  margin-top: 30px;
}
  
  /* Responsive */
  @media (max-width: 768px) 
  {
    .container 
    {
      width: 90%;
    }
  
    h2 
    {
      font-size: 2rem;
    }
  
    li 
    {
      padding: 15px;
    }
  
    li h3 
    {
      font-size: 1.5rem;
    }
  
    p 
    {
      font-size: 1rem;
    }

    footer 
    {
        padding: 15px 0;
        font-size: 0.9rem;
    }

    .button-container 
    {
        grid-template-columns: repeat(2, 1fr);  /* 2 columnes */
    }

    nav ul 
    {
        grid-template-columns: repeat(2, 1fr);  /* 2 columnes en mòbils */
    }

    .favorites-container {
      padding: 15px;
    }
  
    .favorites-container h2 {
      font-size: 2rem;
    }
  
    .favorites-container li {
      padding: 15px;
    }
  
    .favorites-container li h3 {
      font-size: 1.5rem;
    }
  
    .favorites-container button {
      font-size: 1rem;
      padding: 8px 16px;
    }
  
    .favorites-container p {
      font-size: 1rem;
    }
  }
  
  